body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg,#ff9a9e,#fad0c4);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  overflow:hidden;
}

.page {
  display:none;
  width:100%;
  height:100vh;
  justify-content:center;
  align-items:center;
}

.page.active {
  display:flex;
}

.card {
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
  width:350px;
  position:relative;
}


button {
  margin:10px;
  padding:10px 20px;
  border:none;
  border-radius:20px;
  background:#ff4e50;
  color:white;
  cursor:pointer;
  transition:.3s;
}

button:hover {
  transform:scale(1.05);
}

input {
  padding:10px;
  margin:10px;
  border-radius:10px;
  border:1px solid #ccc;
}

.menu-card {
  background: #f7f7f7;
  border-radius: 18px;
  padding: 24px;
  max-width: 420px;
  margin: auto;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2x2 = 4 มุม */
  gap: 14px;
  margin: 20px 0;
}

.menu-btn {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 14px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-btn:hover {
  transform: translateY(-2px);
  filter: brightness(1.1);
}

.next-btn {
  width: 100%;
  margin-top: 10px;
  background: #ff7675;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
}

.flower {
  font-size:60px;
  animation: float 2s infinite alternate;
}

@keyframes float {
  from {transform:translateY(0);}
  to {transform:translateY(-10px);}
}

.shake {
  animation: shake 0.3s;
}

.pin-box {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 16px 0;
}

.pin-input {
  width: 36px;
  height: 44px;
  text-align: center;
  font-size: 22px;
  border-radius: 8px;
  border: 2px solid #ff9a9e;
  transition: 0.2s;

  .pin-input:focus {
    border-color: #fad0c4;
    transform: translateY(
);
  }
}

@keyframes shake {
  0% {transform:translateX(0);}
  25% {transform:translateX(-10px);}
  50% {transform:translateX(10px);}
  75% {transform:translateX(-10px);}
  100% {transform:translateX(0);}
}
